<div class="flex h-screen justify-center items-center py-4">
  <div class="w-[320px] max-h-[calc(100vh-32px)]">
    @if(isError){
    <div role="alert" class="alert alert-error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>{{ errorMessage }}</span>
    </div>
    }
    <app-page-detail-title
      title="Customer Detail"
      link="/customer"
    ></app-page-detail-title>
    @if (isLoading) {
    <div class="mt-4">
      <span class="loading loading-spinner text-primary"></span>
    </div>
    } @if(!isLoading && isSuccess ){
    <div>
      <div class="avatar flex justify-center mt-4">
        <div class="w-24 rounded-full">
          <img
            [src]="
              data?.imgUrl == null
                ? 'https://api.dicebear.com/9.x/lorelei/svg?seed=Katherine'
                : data?.imgUrl
            "
            alt="Avatar"
          />
        </div>
      </div>
      <div class="space-y-4 mt-4">
        <div class="space-y-0.5">
          <p class="font-bold tracking-tight text-sm text-primary">Name</p>
          <p class="text-xl text-primary-content">{{ data?.name }}</p>
        </div>
        <div class="space-y-0.5">
          <p class="font-bold tracking-tight text-sm text-primary">Address</p>
          <p class="text-xl text-primary-content">{{ data?.address }}</p>
        </div>
        <div class="space-y-0.5">
          <p class="font-bold tracking-tight text-sm text-primary">
            Phone Number
          </p>
          <p class="text-xl text-primary-content">{{ data?.phoneNumber }}</p>
        </div>
        <div class="space-y-0.5">
          <p class="font-bold tracking-tight text-sm text-primary">
            Customer Code
          </p>
          <p class="text-xl text-primary-content">{{ data?.custCode }}</p>
        </div>
        <div class="space-y-0.5">
          <p class="font-bold tracking-tight text-sm text-primary">
            Last Order Date
          </p>
          <p class="text-xl text-primary-content">{{ data?.lastOrderDate }}</p>
        </div>
        <div class="space-y-0.5">
          <p class="font-bold tracking-tight text-sm text-primary">Status</p>
          <p class="text-xl text-primary-content">
            {{ data?.active ? "Active" : "Inactive" }}
          </p>
        </div>
      </div>
      <div class="space-x-2 mt-4">
        <a
          class="btn btn-primary w-full"
          [routerLink]="'/update-customer/' + customerId"
          >Edit</a
        >
      </div>
    </div>
    }
  </div>
</div>
